.Ticket{
    border-radius: 15px;
    height: 184px;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px 21px #d3d3d6,
-10px -10px 21px #fff;
}
.header{
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cell{
    display: flex;
    flex-direction: column;
    width: 123px;
}
.cell_header{
    color: #979797;
}
