.Ticket{
    border: 2px solid fuchsia;
    height: 184px;
    margin-top: 20px;
}
.header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    border: 2px solid yellowgreen;
}

.cell{
    border: 2px solid goldenrod;
    display: flex;
    flex-direction: column;
}
.cell_header{
    color: #979797;
}
