.Filter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 212px;
    height: 252px;
    margin: 0;
    margin-inline-start: 0;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 21px #d3d3d6,
    -10px -10px 21px #fff
}

.Filter_checkBoxs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 252px;
    margin: 0;
    margin-inline-start: 0;
    padding: 10px;
}

.input{
    margin-right: 10px;
    transform: scale(1.5);
    cursor: pointer;
}

.p{
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.p:hover {
    background-color: rgba(147, 189, 255, 0.47);
    cursor: pointer;
}
